GOOGLE_CREDENTIALS_PATH="./service_account.json"
GOOGLE_SHEET_URL="https://docs.google.com/spreadsheets/d/13Z0VlvkblfBrT7BtNK1iw2dbVsLMkrAh1XgP1SfRnJg"
NAVER_ID="여기에_NAVER_ID_입력"
NAVER_SECRET="여기에_NAVER_SECRET_입력"
YOUTUBE_API_KEY="여기에_YOUTUBE_API_KEY_입력"
KAKAO_REST_API_KEY="여기에_KAKAO_REST_API_KEY_입력"
GOOGLE_MAPS_API_KEY="여기에_GOOGLE_MAPS_API_KEY_입력"
