GOOGLE_CREDENTIALS_PATH="./service_account.json"
GOOGLE_SHEET_URL="https://docs.google.com/spreadsheets/d/13Z0VlvkblfBrT7BtNK1iw2dbVsLMkrAh1XgP1SfRnJg"
NAVER_ID="fwieS9GmHaV8utf2DmuA"
NAVER_SECRET="qzI0akztkk"
YOUTUBE_API_KEY="AIzaSyCFOJ1w-cwso1YIq7NXb7yWU6a1SjW2kPE"
KAKAO_REST_API_KEY="여기에_KAKAO_REST_API_KEY_입력"
